.ant-carousel .slick-slide {
    text-align: center;
    // height: 630px;
    // line-height: 630px;
    background: #364d79;
    overflow: hidden;
  }
  .slick-slide {
      img {
          width: 100%;
      }
  }
  .ant-carousel .slick-dots {
      padding-bottom: 30px !important;
      li.slick-active  {
        button {
          padding: 3px 10px;
          height: 13px;
          border-radius: 4px;
          // margin-top: -10px;
          border-radius: 8px !important;
        }
    }
  } 
  .ant-carousel .slick-dots li button {
      width: 8px !important; 
      height: 8px !important;
      border-radius: 50% !important;
  }