.header-box {
    border: 1px solid #c9c9c9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    .company-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        .msg-box {
            margin-left: 10px;
        }
    }
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}