.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    .company-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        .msg-box {
            margin-left: 10px;
            .name {
                font-size:20px;
                font-family:MicrosoftYaHei-Bold;
                font-weight:bold;
                margin-bottom: 10px;
            }
            .inter {
                font-size:16px;
                font-family:MicrosoftYaHei;
                font-weight:400;
                margin-top:0; 
            }
        }
    }
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color: #333;
    }
}