.in-case-box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}
.title-box {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 58px;
          .title {
            text-align: center;
            font-size: 30px;
            color: #333333;
            font-weight: bold;
            }
            span {
                height: 2px;
                width: 100px;
                display: inline-block;
                margin: auto;
                background: #333333;
            }
      }
.seo-case-list {
    width: 900px;
    margin: auto;
     margin-top: 70px;
    .seo-case-first {
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
        img {
            width: 310px;
            height: 230px;
        }
        .first-msg {
            margin-left: 50px;
            .first-time {
                font-size:30px;
                font-family:MicrosoftYaHei-Bold;
                font-weight:bold;
                color: #008BE4;
                margin: 0;
            }
            .first-name {
                font-size:30px;
                font-family:MicrosoftYaHei-Bold;
                font-weight:bold;
                color: #333;
                margin-top: 10px;
            }
            .first-keywords {
                font-size:20px;
                margin-top: 5px;
                font-family:MicrosoftYaHei-Bold;
                font-weight:bold;
                color: #333;
                display: flex;
                flex-direction: row;
                align-items: center;
                .keywords-box {
                    span {
                        margin-left: 20px;
                    }
                }
            }
            .first-desc {
                margin-top: 5px;
                font-size:18px;
                font-family:MicrosoftYaHei;
                font-weight:400;
                color: #333;
            }
            .see-more {
                margin-top: 5px;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px 0;
                background: #008BE4;
                border-radius: 17px;
                color: #fff;
                font-size: 10px;
            }
        }
    }
    .seo-case-item {
        &:hover {
            box-shadow: #d6d6d6 0 0 10px;
            border: none;
            cursor: pointer;
        }
            margin-top: 20px;
            padding: 25px;
            display: flex;
            flex-direction: row;
            border: 1px dotted #9c9c9c;
            border-radius: 8px;
            .seo-case-img {
                width: 205px;
                height: 124px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .item-msg {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                .item-desc-msg {
                        display: flex;
                        flex-direction: column;
                        .item-name {
                            font-size:24px;
                            font-family:MicrosoftYaHei-Bold;
                            font-weight:bold;
                            color: #333;
                        }
                        .item-keywords {
                            font-size:16px;
                            font-family:MicrosoftYaHei-Bold;
                            font-weight:bold;
                            color: #333;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .keywords-item {
                                margin-left: 20px;
                            }
                        }
                        .item-desc {
                            margin-top: 20px;
                            font-size:16px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color: #333;
                        }
                }
            }
            .item-time {
                display: flex;
                flex-direction: column;
                font-family: '微软雅黑';
                .time-day {
                    font-size: 60px;
                    color: #333;
                    margin: 0;
                }
                .item-mouth {
                    font-size: 14px;
                    color: #333;
                }
            }
        }
}
.pagin-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
            }