.home-box {
    // padding: 0 200px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 630px;
    line-height: 630px;
    background: #364d79;
    overflow: hidden;
   
  }
  .ant-carousel .slick-dots li.slick-active  {
      button {
        height: 16px;
        margin-top: -10px;
        border-radius: 8px;
      }
   
  }
  .ant-carousel .slick-dots li button {
      width: 16px;
      height: 16px;
      border-radius: 100%;
  }
  .services-box {
      background: #fff;
      padding: 0 0 100px;
      .title-box {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 58px;
          .title {
            text-align: center;
            font-size: 30px;
            color: #008BE4;
            font-weight: bold;
            }
            span {
                height: 2px;
                width: 180px;
                display: inline-block;
                margin: auto;
                background: #008BE4;
            }
      }
      
      .service {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 100px;
        .service-item {
            text-align: center;
            width: 15%;
            padding: 20px;
           
           img {
               margin-top: 10px;
           }
           .name {
               margin: 0;
               margin-top: 20px;
           }
           .instro {
               margin-top: 20px;
                p {
                    margin: 0;
                }
           }
           .todetail-box {
               padding: 5px 10px;
               background: #008BE4;
               border-radius: 16px;
               font-size: 14px;
               color: #fff;
               margin-top: 30px;
               display: inline-block;
           }
        }
        .service-item:hover {
            box-shadow: 1px 1px 5px #ccc;
        }
      }
      .not-services {
          
      }
  }